:root {
  --orange: #ff6b15;
  --blue: #04ace3;
  --black: #000;
}

body {
  height: 100vh;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  height: 80vh;
}

.clock-base {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vw;
  width: 80vw;
  background-color: var(--blue);
  border-radius: 50%;
  box-shadow: 0vw 0vw 0vw 5vw var(--orange);
  margin: 5vw;
}

.center-base {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 50%;
}

.clock-center {
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: -90deg;
}

.clock-center-hour {
  height: 5vw;
  width: 5vw;
  background-color: var(--black);
}

.arm-base {
  position: absolute;
  margin: 0 4vw 0 0;
}

.hour-arm {
  width: 30vw;
  height: 3vw;
  background-color: var(--black);
}

.clock-center-min {
  height: 4vw;
  width: 4vw;
  background-color: var(--orange);
}

.min-arm {
  width: 35vw;
  height: 2vw;
  background-color: var(--orange);
}

.clock-center-sec {
  height: 2vw;
  width: 2vw;
  background-color: var(--black);
}

.sec-arm {
  width: 36vw;
  height: 1vw;
  background-color: var(--black);
}
