:root {
  --orange: #ff6b15;
  --blue: #04ace3;
  --black: #000;
}

body {
  height: 100vmin;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  height: auto;
}

button {
  padding: 2vmin;
  border-radius: 50%;
  background-color: var(--blue);
  color: white;
  border: none;
}

.clock-base {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vmin;
  width: 70vmin;
  background-color: var(--blue);
  border-radius: 50%;
  box-shadow: 0vmin 0vmin 0vmin 5vmin var(--orange);
  margin: 5vmin;
  margin-bottom: 7vmin;
}

.center-base {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 50%;
}

.clock-center {
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 90deg;
}

.clock-center-hour {
  height: 5vmin;
  width: 5vmin;
  background-color: var(--black);
}

.arm-base {
  position: absolute;
  margin: 0 5vmin 0 0;
}

.hour-arm {
  width: 30vmin;
  height: 2.5vmin;
  background-color: var(--black);
}

.clock-center-min {
  height: 4vmin;
  width: 4vmin;
  background-color: var(--orange);
}

.min-arm {
  width: 28vmin;
  height: 1.5vmin;
  background-color: var(--orange);
}

.clock-center-sec {
  height: 2vmin;
  width: 2vmin;
  background-color: var(--black);
}

.sec-arm {
  width: 36vmin;
  height: 1vmin;
  background-color: var(--black);
}

.sec-marker {
  background: transparent;
  position: absolute;
  border: 2px solid red;
  justify-self: center;
}
